*{
    box-sizing: border-box;
    overflow: hidden;
}
body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.kanban-container{
    width: 1000px;
    height: 75vh;
    display: flex;
}
.status{
    width: 25%;
    background-color: rgb(222, 222, 222);
    position: relative;
    padding: 60px 1rem 0.5rem;
}
.status h2{
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: rgb(90, 114, 158);
    color: white;
    margin: 0;
    width: 100%;
    padding: 0.5rem 1rem;
    font-size: large;
}
#btn{
    padding: 0.5rem 1rem;
    background-color: rgb(198, 198, 198);
    outline: none;
    border: none;
    width: 100%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: medium;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 10px;
}
#btn:hover{
    background-color: rgb(90, 114, 158);
    color: white;
}
.first-todo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    background-color: rgb(92, 156, 133);
    box-shadow: rgba(15, 15, 15, 0.1) 0px 0px 0px 1px, rgba(15, 15, 15, 0.1) 0px 2px 4px;
    border-radius: 4px;
    padding: 0.5rem 1rem;
    font-size: medium;
    margin-top: 0.5rem 0;
}
.first-todo .close{
    position: relative;
    right: 0.1rem;
    font-size: 2rem;
}
.first-todo:hover{
    opacity: 75%;
}